@import "tailwindcss";
@import "tw-animate-css";
@import '../css/allFont.css';

html {
  scroll-behavior: smooth;
  /* Améliore les performances de scroll sur mobile */
  -webkit-overflow-scrolling: touch;
}

/* Scroll fluide pour tous les éléments scrollables */
* {
  scroll-behavior: smooth;
}

.user-event-none {
  pointer-events: none;
}

* {
  font-family: 'Grotesk', monospace;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.font-vex {
  font-family: 'Vex', monospace;
}

.font-ibm {
  font-family: 'IBM', monospace;
}

.font-grotesk {
  font-family: 'Grotesk', Helvetica, sans-serif;
}

.text_color_vex {
  color: var(--light-dark);
}

#page_wrapper {
  position: relative;
  z-index: 2;

}

.page_content {
  overflow: hidden;
}

.spaceScroll {
  height: 760px !important;
}

.page__container__base {
  background-color: var(--background);
  overflow: hidden;
  width: 100%;
  height: fit-content;
  /* height: 100vh; */
  position: relative;
}

footer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}




.os__container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/img/background_os.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  user-select: none;

}

.os__container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/img/overlay_os.png');
  mix-blend-mode: overlay;
  opacity: 0.9;
  background-repeat: no-repeat;

}

.background__os {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/img/background_os.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  user-select: none;

}

.background__os::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/img/overlay_os.png');
  mix-blend-mode: overlay;
  opacity: 0.9;
  background-repeat: no-repeat;

}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  /* Valeur par défaut */
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  /* Autres couleurs personnalisées */
  --color-accent1: #3A4BD1;
  --color-accent2: #4D94FE;
  --color-accent3: #00112F;
  --color-accent4: #020512;
  --white-accent1: #E5EFFF;
  --white_accent2: #EBF2FF;
  --white_accent3: #DBE8FF;
  --black-accent1: #141414;
  --black_accent2: #1C1C1C;
  --black_accent3: #1A1A1A;
  --grey-accent1: #333333;
  --red_accent1: #D13A3A;
  --error: #7980FF;
  --success: #53D13A;
  --alerte: #D1B33A;


  --vex-0: #CDD2CC;
  --vex-1: #C79866;
  --vex-2: #B77F43;
  --vex-3: #B77F43;
  --vex-4: #926535;

  /* Couleurs pour l'image anom.png */
  --anom: #3A4CD1;
  --anom-light: #6671C7;
  --anom-dark: #2938AE;

}

/* Classes d'accent qui redéfinissent --accent */
.accent-protocol {
  --ThemeColorAccent: #3A4BD1;
  --ThemeColorAccent2: #4D94FE;
}

.accent-bray {
  --ThemeColorAccent: #F4402A;
  --ThemeColorAccent2: #F66B5A;
}

.accent-red {
  --ThemeColorAccent: #D13A3A;
  --ThemeColorAccent2: #DA6262;
}


.dark {
  --background: var(--black-1);
  --foreground: var(--white-1);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  /*$ PROTOCOL */

  --black-1: #141414;
  --black-2: #1F1F1F;
  --black-3: #1A1A1A;
  --black-4: #333333;
  --black-5: #1c1c1c;
  --white-1: #E5EFFF;
  --bg-card-agent: var(--black_accent3);
  --bg-placeholder: var(--black_accent2);
  --border-1: var(--black-1);
  --window: #141414;
  --window-inner: #0A0A0A;
  --windows-icon: #333333;
  --window-border: var(--black_accent3);
  --light-dark: #4F4F4F;
  --light-dark-2: #808080;
  --light-dark-3: #737373;
  --radius-sm: 0.25rem;

}

.light {
  --background: var(--white_accent1);
  --foreground: var(--black-1);
  --window: #FFFFFF;
  --window-inner: #d4d4d4;
  --windows-icon: #B3B3B3;
  --window-border: var(--grey-accent1);
  --light-dark: #B3B3B3;
  --light-dark-2: #808080;
  --card: oklch(1 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .mask-radial-top {
    -webkit-mask-image: radial-gradient(circle at top, black 15%, transparent 70%);
    mask-image: radial-gradient(circle at top, black 5%, transparent 70%);
  }
}

.gradient__title,
.gradient__title__vex,
.gradient__title__danger,
.gradient__title__anom {
  font-family: 'Grotesk', Arial, sans-serif;
  position: relative;
}

.gradient__title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: linear-gradient(30deg, transparent 30%, rgba(255, 255, 255, 0.75) 75%);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1.5px transparent;
}

.gradient__title::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: transparent;
  background: linear-gradient(to top, #3D3D3D, #CCCCCC 95%);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px transparent;
}

.gradient__title__vex::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: linear-gradient(to top, transparent 30%, #FFAF5B 75%);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1.5px transparent;
}

.gradient__title__vex::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: transparent;
  background: linear-gradient(to top, var(--foreground), #FDD2A4 90%);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px transparent;
}

.gradient__title__danger::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: linear-gradient(to top, transparent 30%, #FF5B5B 75%);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1.5px transparent;
}

.gradient__title__danger::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: transparent;
  background: linear-gradient(to top, var(--foreground), #D13A3A 90%);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px transparent;
}

.gradient__title__anom::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: transparent;
  background: linear-gradient(to top, var(--foreground), var(--anom-light) 90%);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px transparent;
}

.gradient__title__anom::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: linear-gradient(to top, transparent 30%, var(--anom) 75%);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1.5px transparent;
}

.button__style__anom {
  z-index: 1;
  position: relative;
  display: inline-flex;
  -webkit-user-select: none;
  user-select: none;
  transition: .25s;
  align-items: center;
  justify-content: center;
  background-color: var(--anom);

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--anom-dark);
    transition: .25s;
  }

  &:hover::after {
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-color: var(--anom-light);
  }
}



.hover__underline {
  z-index: 4;
  cursor: pointer;
  position: relative;
  width: fit-content;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--light-dark);

  &::after {
    content: '';
    position: absolute;
    top: fit-content;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--light-dark);
    transition: width 0.3s;
  }

  &:hover {
    color: var(--light-dark-2);

    &::after {
      background-color: var(--light-dark-2);
      width: 100%;
    }
  }
}

.hover__underline__2 {
  z-index: 4;
  cursor: pointer;
  position: relative;
  width: fit-content;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--light-dark-3);
  ;

  &::after {
    content: '';
    position: absolute;
    top: fit-content;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--light-dark-3);
    transition: width 0.3s;
  }

  &:hover {
    color: var(--light-dark);

    &::after {
      background-color: var(--light-dark);
      width: 100%;
    }
  }
}

.hover__underline__2_1 {
  z-index: 4;
  cursor: pointer;
  position: relative;
  width: fit-content;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--black-1);
  ;

  &::after {
    content: '';
    position: absolute;
    top: fit-content;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--black-1);
    transition: width 0.3s;
  }

  &:hover {
    color: var(--light-dark);

    &::after {
      background-color: var(--light-dark);
      width: 100%;
    }
  }
}

.hover__underline__3 {
  z-index: 4;
  cursor: pointer;
  position: relative;
  width: fit-content;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  opacity: .5;
  color: var(--foreground);
  ;

  &::after {
    content: '';
    position: absolute;
    top: fit-content;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--black-1);
    transition: width 0.3s;
  }

  &:hover {
    color: var(--foreground);
    opacity: 1;

    &::after {
      background-color: var(--foreground);
      width: 100%;
    }
  }
}

.hover__underline__neutre {
  z-index: 4;
  cursor: pointer;
  position: relative;
  width: fit-content;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  opacity: 1;
  color: var(--foreground);
  ;

  &::after {
    content: '';
    position: absolute;
    top: fit-content;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--black-1);
    transition: width 0.3s;
  }

  &:hover {
    color: var(--foreground);
    opacity: 1;

    &::after {
      background-color: var(--foreground);
      width: 100%;
    }
  }
}

.decoration__container__right {

  font-size: 1.8rem;
  color: var(--light-dark);
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: -2rem;
    width: 25rem;
    height: .25rem;
    background: linear-gradient(90deg, transparent, var(--light-dark));
  }

  &::before {
    content: '';
    position: absolute;
    top: 0rem;
    left: 5rem;
    width: 12rem;
    height: 1.5rem;
    background: linear-gradient(90deg, var(--light-dark), transparent);
  }
}

.decoration__container__left {

  font-size: 1.8rem;
  color: var(--light-dark);
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    bottom: -.75rem;
    right: -5rem;
    width: 25rem;
    height: .25rem;
    background: linear-gradient(90deg, var(--light-dark), transparent 80%);
  }

  &::before {
    content: '';
    position: absolute;
    bottom: .5rem;
    right: 2rem;
    width: 12rem;
    height: 1.5rem;
    background: linear-gradient(-90deg, var(--light-dark), transparent);
  }
}